<script src="//cdn.muicss.com/mui-0.9.17/js/mui.min.js"></script>

<footer>
    {% if site.social %}
    <div class="c-max">
        <ul id="social" class="icon-list">
            {% for s in site.social %}
            <a target="_blank" href="{{s.url}}">
                {{s.icon}}
            </a>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div class="footer-suffix">
        <div class="c-max">
            <a class="logo logo--dark" href="/">{% include logo.svg %}</a>
        </div>
    </div>
</footer>
