<header class="main">
    <div class="c-max">
    <!-- <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a> -->
        <a class="logo" href="{{site.baseurl }}">{% include logo.svg %}</a>

        <ul id='nav'>
            <li><a href="{{ site.baseurl }}">Home</a></li>
            {% for page in site.pages %}
                {% if page.title %}
                    <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</header>
