#content {
    min-height: 100vh;
}

.c-max {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-left: 32px;
    padding-right: 32px;

    &:after {
        display: block;
        clear: both;
        content: '';
    }
}

.icon-list {
    a {
        display: inline-block;
        text-decoration: none;
        margin-left: 8px;
    }

    svg {
        width: 24px;
        height: 24px;
    }
}

.logo {
    fill: #fff;
    display: inline-block;

    svg {
        display: block;
        height: inherit;
    }

    #landing header & {
        display: none;
    }

    &.logo--dark {
        fill: #212121;
    }
}